* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.logo__header {
  color: #2949c7;
  font-weight: 900;
  padding: 5%;
  font-size: 35px;
  letter-spacing: 2px;
}


a {
  background-color: transparent;
}
img {
  border-style: none;
}

.header__container {
  max-width: 1920px;
  overflow: hidden;
  background-color: rgb(255, 252, 251);

}
.header {
  display: flex;
  height: 126px;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding: 70px 50px;
  font-family: "Poppins", sans-serif;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0, 0) 47.32%,
    rgb(230, 244, 252) 0%
  );
}
.header__links {
  margin-right: 0.4rem;
}

.header__links li {
  list-style: none;
  display: inline-block;
  font-weight: bold;
}

.header__links a {
  float: left;
  color: #6d7b93;
  text-align: center;
  padding: 35px;
  text-decoration: none;
  font-size: 25px;
  line-height: 35px;
  border-radius: 4px;
}

.header__links a:hover {
  color: rgb(0, 204, 255);
}

.header__links a:active {
  color: var(--primary);
}
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
}
@media (max-width: 1000px) {
  header {
    flex-direction: column;

    align-items: flex-start;
  }
}
.header-right {
  float: right;
}
.flex {
  display: flex;
}

li .btn {
  color: white;
  box-shadow: 8px 7px 10px -8px rgba(30, 63, 151, 0.274);
  -moz-box-shadow: 8px 7px 15px -8px rgba(0, 0, 0, 0.4);
  box-shadow: 8px 10.5px 15px -8px rgba(3, 86, 241, 0.575);
}
.btn {
  display: flex;
  background-color: #2b4bc9;
  border-radius: 3px;
  height: 40px;
  width: 230px;
  align-items: center;
  margin-bottom: 9%;
  border: none;
  color: azure;
}

.main {
  display: flex;
  align-items: flex-start;
  align-items: center;
  margin-top: 0%;
}
#titulo {
  
  position: absolute;
  width: 550px;
  height: 177px;
  left: 87px;
  top: 231px;
  font-family: 'Segoe UI';
  font-weight: 650;
  font-size: 84px;
  line-height: 100px;

  color: #1f3e72;
}
.enfermera {
  display: flex;
  position: absolute;
  justify-content: end;
  align-items: top;
  margin-top: 0%;
  margin-left: -72%;
  width: auto;
  height: 1045.6px;
}
.space{
  width: 458px;
}
#texto {
position: absolute;
height: auto;
left: 6%;
margin-top: 50%;
width: 600px;
justify-content: center;
letter-spacing: 1.5px;
font-weight: 549.9;
font-size: 23px;


color: #8590A4;

}
.flexContainer {
  display:flex;
  position: absolute;
  align-items:center;
  left: 6%;
  margin-top: 35%;
  font-size: 20px;
  justify-content: center;
  letter-spacing: 1.5px;
  font-weight: 549.9;
  color: #1f3e72;
  
}

.sch{
  display:flex;
  position: absolute;
  align-items:center;
  left: 0%;
  margin-top: 100%;
  font-size: 20px;
  justify-content: center;
  letter-spacing: 1.5px;
  font-weight: 549.9;
  color: #1f3e72;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
#shield{
  width: 25px;
  height: 25px;
  box-shadow: 58px 71px 100px -8px rgba(30, 63, 151, 0.274);
  -moz-box-shadow: 80px 70px 150px -8px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 15.5px 15px -8px rgba(217, 255, 2, 0.664);
}
#star{
  width: 25px;
  height: 25px;
  box-shadow: 58px 71px 100px -8px rgba(30, 63, 151, 0.274);
  -moz-box-shadow: 80px 70px 150px -8px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 15.5px 15px -8px rgba(217, 255, 2, 0.664);
}
#clock{
  width: 25px;
  height: 25px;
  box-shadow: 58px 71px 100px -8px rgba(30, 63, 151, 0.274);
  -moz-box-shadow: 80px 70px 150px -8px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 15.5px 15px -8px rgba(3, 86, 241, 0.575);
}
.contenedor{
  display: flex;
  position: absolute;
  align-items:flex-start;
  margin-left: 6%;
  margin-top: 53%;
  background-color: rgba(255, 255, 255, 0.952);
  width: 1020px;
  height: 200px;
  font-size: 20px;

  box-shadow: 58px 71px 100px -8px white;
  -moz-box-shadow: 0px 0px *10px -50px white;
  box-shadow: 0px 16.5px 40px -20px rgba(3, 0, 165, 0.575);
}
#son{
  margin-top: -2%;
  padding: 5rem;
  color: #77849a;
}
.btn1 {
  display: flex;
  background-color: #2b4bc9;
  border-radius: 3px;
  height: 50px;
  width: 100px;
  align-items: center;
  margin-bottom: 9%;
  border: none;
  color: azure;
  justify-content: center;
 margin-top: 4rem;
}
.fecha1{
  display: flex;
  position: absolute;
  font-size: 25px;
  padding-left: 12%;
  padding-top: 12%;
  font-weight: bold;
  color: #1e3d71;
}
.fecha2{
display: flex;
position: absolute;
font-size: 25px;
padding-left: 38%;
padding-top: 12%;
font-weight: bold;
color: #1e3d71;
}
.fecha3{
display: flex;
position: absolute;
font-size: 25px;
padding-left: 61.5%;
padding-top: 12%;
font-weight: bold;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: #1e3d71;
}





